<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
		<tr>
			<th>번호</th>
			<th style="width:50%">제목</th>
			<th>작성자</th>
			<th>작성일시</th>
			<th>조회수</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="question, loop : ${paging}">
			<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
			<td>
				<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
				<span class="text-danger small ms-2"
				      th:if="${#lists.size(question.answers) > 0}"
				      th:text="${#lists.size(question.answers)}">
                </span>
			</td>
			<td></td>
			<td th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${question.hits}"></td>
		</tr>
		</tbody>
	</table>
	<!-- 페이징처리 시작 -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<a class="page-link"
				   th:href="@{|?page=${paging.number}|}">
					<span>이전</span>
				</a>
			</li>
			<li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
			    th:if="${page >= paging.number + 1 - 5 and page <= paging.number + 5}"
			    th:classappend="${page == paging.number + 1} ? 'active'"
			    class="page-item">
				<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
			</li>
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number + 2}|}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- 페이징처리 끝 -->
	<a href="/question/create" class="btn btn-primary my-2">질문 등록하기</a>
</div>
</html>