<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h1  class="border-bottom py-2">질문 수정</h1>
    <form th:action="@{|/answer/modifyset/${content.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <h3>내용</h3>
        <textarea th:name="markdownEditorAnswerNew" id="markdownEditorAnswerNew" rows="15" class="form-control" th:utext="${content.content}"></textarea>
        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var simplemde = new SimpleMDE({element:document.getElementById("markdownEditorAnswerNew")});
    });
</script>