<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
                <!-- 댓글 작성 버튼 -->
                <a href="javascript:void(0);" class="comment-toggle btn btn-sm btn-outline-secondary">댓글 작성</a>
                <!-- 댓글 작성 폼 (초기에는 숨김) -->
                <div class="comment-form mt-2" style="display: none;">
                    <form th:action="@{|/comment/create/question/${question.id}|}" method="post">
                        <textarea name="content" class="comment-content form-control mb-2" rows="3" placeholder="댓글을 입력하세요"></textarea>
                        <button type="submit" class="btn btn-sm btn-primary">댓글 등록</button>
                    </form>
                </div>
            </div>
            <!-- 댓글 리스트 -->
            <div class="mt-3" th:if="${!#lists.isEmpty(question.commentList)}">
                <div th:each="comment : ${question.commentList}" class="comment py-2 text-muted">
                    <span style="white-space: pre-line;" th:utext="${@commonUtil.markdown(comment.content)}"></span>
                    <span class="text-muted" th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
                    <!-- 댓글 수정 및 삭제 -->
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       th:href="@{|/comment/modify/${comment.id}|}" class="small">수정</a>
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       href="javascript:void(0);" class="small-delete" th:data-uri="@{|/comment/delete/${comment.id}|}">삭제</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <span>
        답변 정렬:
    </span>
    <a href="javascript:void(0);" class="ordering btn btn-sm btn-outline-secondary" th:data-uri="@{|/question/detail/${question.id}?ans_ordering=recommend|}" th:text="추천순"></a>
    <a href="javascript:void(0);" class="ordering btn btn-sm btn-outline-secondary" th:data-uri="@{|/question/detail/${question.id}?ans_ordering=date|}" th:text="시간순"></a>

    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${answerPaging}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
                <!-- 댓글 작성 버튼 -->
                <a href="javascript:void(0);" class="comment-toggle btn btn-sm btn-outline-secondary">댓글 작성</a>

                <!-- 댓글 작성 폼 (초기에는 숨김) -->
                <div class="comment-form mt-2" style="display: none;">
                    <form th:action="@{|/comment/create/answer/${answer.id}|}" method="post">
                        <textarea name="content" class="comment-content form-control mb-2" rows="3" placeholder="댓글을 입력하세요"></textarea>
                        <button type="submit" class="btn btn-sm btn-primary">댓글 등록</button>
                    </form>
                </div>
            </div>
            <!-- 댓글 리스트 -->
            <div class="mt-3" th:if="${!#lists.isEmpty(answer.commentList)}">
                <div th:each="comment : ${answer.commentList}" class="comment py-2 text-muted">
                    <span style="white-space: pre-line;" th:utext="${@commonUtil.markdown(comment.content)}"></span>
                    <span th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
                    <!-- 댓글 수정 및 삭제 -->
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       th:href="@{|/comment/modify/${comment.id}|}" class="small">수정</a>
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       href="javascript:void(0);" class="small-delete" th:data-uri="@{|/comment/delete/${comment.id}|}">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 폼 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="mt-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변 등록" class="btn btn-primary btn-sm mt-2">
    </form>
</div>
<script layout:fragment="sub-script" type="text/javascript">
    var simpleMDE = new SimpleMDE({
        element: document.getElementById("content")
    });
    // 댓글 작성 폼에도 Markdown Editor 초기화
    document.querySelectorAll('.comment-content').forEach(function(textarea) {
        new SimpleMDE({
            element: textarea
        });
    });
</script>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    const order_elements = document.getElementsByClassName("ordering")
    Array.from(order_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            location.href = this.dataset.uri;
        });
    });
    const comment_delete_elements = document.getElementsByClassName("small-delete");
    Array.from(comment_delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("댓글을 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        // 모든 댓글 작성 링크에 이벤트 추가
        const commentToggleLinks = document.querySelectorAll(".comment-toggle");

        commentToggleLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                // 링크 바로 다음에 있는 댓글 폼을 찾음
                const commentForm = this.nextElementSibling;

                // 댓글 폼 토글
                if (commentForm.style.display === "none" || commentForm.style.display === "") {
                    commentForm.style.display = "block";
                } else {
                    commentForm.style.display = "none";
                }
            });
        });
    });
</script>
</html>
