<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout}">
<body>
    <div layout:fragment="content" class="container my-3">
        <div class="my-3 border-bottom">
            <div>
                <h4>비밀번호 변경</h4>
            </div>
        </div>
        <form th:action="@{/user/changePassword}" method="POST" th:object="${userChangePasswordForm}">
            <div th:replace="~{/form/form_errors :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="password1" class="form-label">현재 비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">변경 비밀번호</label>
                <input type="password" th:field="*{password2}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="password3" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{password3}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
            <input type="hidden" th:field="*{username}" class="form-control"/>
        </form>
    </div>
</body>
</html>