<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
  <div class="container">
    <form th:action="@{/password/change}" method="post" th:object="${changePasswordForm}">
      <!-- 기존 비밀번호 -->
      <div class="mb-3">
        <label for="currentPassword" class="form-label">기존 비밀번호</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control"
               th:field="*{currentPassword}" placeholder="기존 비밀번호를 입력하세요" required>
        <p class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></p>
      </div>

      <!-- 새 비밀번호 -->
      <div class="mb-3">
        <label for="newPassword" class="form-label">새 비밀번호</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control"
               th:field="*{newPassword}" placeholder="새 비밀번호를 입력하세요" required>
        <p class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
      </div>
      <p th:if="${message}" class="text-success" th:text="${message}"></p>
      <p th:if="${error}" class="text-danger" th:text="${error}"></p>
    </form>
  </div>
</div>
</body>
</html>