<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">최근 답변 목록</h5>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>질문 번호</th>
            <th style="width:50%">댓글</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="comment : ${comment_list}">
            <td>
                <a th:if="${comment.question != null}" th:href="@{|/question/detail/${comment.question.id}|}" th:text="${comment.question.id}"></a>
                <a th:if="${comment.answer != null}" th:href="@{|/question/detail/${comment.answer.question.id}#answer_${comment.answer.id}|}" th:text="${comment.answer.question.id}"></a>
            </td>
            <td th:text="${comment.content}"></td>
            <td th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>