<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hi, SBB</title>
</head>
<body>

<nav th:replace="~{navbar :: navbarFragment}"></nav>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div layout:fragment="content">
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>