<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <!-- 버튼 그룹 -->
        <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary me-2">로그인</button>
            <a th:href="@{/user/find-password}" class="btn btn-primary btn-sm">비밀번호 찾기</a>
        </div>
    </form>
</div>
</html>