<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <!-- 비밀번호 변경 성공 메시지 -->
        <div th:if="${param.passwordChanged}">
            <div class="alert alert-success">
                비밀번호가 성공적으로 변경되었습니다. 다시 로그인해주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>

    <!-- 소셜 로그인 -->
    <div class="mt-4">
        <h5>소셜 로그인</h5>
        <a th:href="@{/oauth2/authorization/google}" class="btn btn-danger btn-block mb-2">Google로 로그인</a>
        <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-primary btn-block mb-2">Facebook으로 로그인</a>
        <a th:href="@{/oauth2/authorization/github}" class="btn btn-dark btn-block">GitHub로 로그인</a>
    </div>

</div>
</html>