<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>비밀번호 변경</h4>
    </div>
  </div>
  <form th:action="@{/user/password-reset}" th:object="${passwordResetForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="password" class="form-label">현재 비밀번호</label>
        <input type="password" th:field="*{password}" class="form-control">
      </div>
    <div class="mb-3">
      <label for="password_reset" class="form-label">새 비밀번호</label>
      <input type="password" th:field="*{password_reset}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password_reset_check" class="form-label">새 비밀번호 확인</label>
      <input type="password" th:field="*{password_reset_check}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">비밀번호 변경</button>
  </form>
</div>
</html>
