<!doctype html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container">
    <div class="home-button">
        <a href="/question/list" class="btn">Go to Home</a> <!-- root URL로 가는 링크 -->
    </div>
    <div class="profile-header">
        <h1>User Profile</h1>
        <p><strong>Username:</strong> <span  th:utext="${@commonUtil.markdown(username)}"></span></p>
        <p><strong>Email:</strong> <span  th:utext="${@commonUtil.markdown(email)}"></span></p>
    </div>
    <div class="ms-auto p-2">
        <a th:href="@{/user/modify}" class="btn btn-primary">비밀번호 변경</a>
    </div>
    <div class="profile-section">
        <h2>My Questions</h2>
        <ul>
            <li th:each="question : ${questionList}">
                <a th:href="@{|/question/detail/${question.id}|}" th:utext="${@commonUtil.markdown(question.subject)}"></a>
                <span th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </li>
        </ul>
    </div>
    <div class="profile-section">
        <h2>My Answers</h2>
        <ul>
            <li th:each="answer : ${answerList}">
                <a th:href="@{/question/detail/{id}(id=${answer.question.id})}" th:utext="${@commonUtil.markdown(answer.content)}"></a>
                <span th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </li>
        </ul>
    </div>
    <div class="profile-section">
        <h2>My Comments</h2>
        <ul>
            <li th:each="comment : ${commentList}">
                <a th:href="@{/question/detail/{id}(id=${comment.question.id})}" th:utext="${@commonUtil.markdown(comment.content)}"></a>
                <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
