<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 프로필 정보 -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title border-bottom pb-2">프로필 정보</h2>
            <div class="row mt-3">
                <div class="col-md-6">
                    <p class="mb-1"><strong>이름:</strong> <span th:text="${userInfo.name}"></span></p>
                    <p><strong>이메일:</strong> <span th:text="${userInfo.email}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- 질문 목록 -->
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title border-bottom pb-2">작성한 질문</h4>
            <p class="my-3" th:text="${#lists.size(questionList) + '개의 질문이 있습니다.'}"></p>
            <div th:if="${!#lists.isEmpty(questionList)}">
                <div class="card my-3" th:each="question, loop : ${questionList}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span class="badge bg-primary" th:text="${loop.count}"></span>
                            <div class="card-text" th:text="${question.subject}"></div>
                            <div class="text-muted" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변 목록 -->
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title border-bottom pb-2">작성한 답변</h4>
            <p class="my-3" th:text="${#lists.size(answerList) + '개의 답변이 있습니다.'}"></p>
            <div th:if="${!#lists.isEmpty(answerList)}">
                <div class="card my-3" th:each="answer, loop : ${answerList}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span class="badge bg-success" th:text="${loop.count}"></span>
                            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
                            <div class="text-muted" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글 목록 -->
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title border-bottom pb-2">작성한 댓글</h4>
            <p class="my-3" th:text="${#lists.size(commentList) + '개의 댓글이 있습니다.'}"></p>
            <div th:if="${!#lists.isEmpty(commentList)}">
                <div class="card my-3" th:each="comment, loop : ${commentList}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span class="badge bg-info" th:text="${loop.count}"></span>
                            <div class="card-text" th:text="${comment.content}"></div>
                            <div class="text-muted" th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>