<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question List</title>
</head>
<body>
<h1>Question List</h1>

<h2>분기문 사용 예제</h2>
<div>
    <p th:if="${questionList != null && !#lists.isEmpty(questionList)}">
        질문 객체가 존재합니다.
    </p>
    <p th:if="${questionList == null || #lists.isEmpty(questionList)}">
        질문 객체가 없습니다.
    </p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
        <th>상세 보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, loop : ${questionList}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${question.subject}"></td>
        <td th:text="${question.createdTime}"></td>
        <td>
            <a th:href="@{/question/detail/{id}(id=${question.id})}" th:text="'상세 보기'"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
